<form action="/results" method="POST">
   <label>Item Weight: </label>
   <input type="number" step="0.1" name="weight">
   <select name="type">
      <option>Letters (stamped)</option>
      <option>Letters (metered)</option>
      <option>Large Envelopes (flats)</option>
      <option>Parcels</option>
   </select>
   <button type="submit">Calculate cost</button>
</form>