#review {
  border: 3px outset green;
  margin: 10px;
  padding: 10px;
}

#review > th, #review > td {
  padding: 20px;
}

#review > tr {
  border-bottom: 1px solid black;
  padding: 10px;
}

.item {
  border: 3px outset green;
  height: 350px;
  width: 170px;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  flex-flow: column wrap-reverse;
  background-color: white;
}

#buyIt {
  border: 3px inset green;
  width: 800px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#same {
  border: 3px inset green;
  width: 800px;
  margin: 10px;
  padding: 10px;
}

img {
  height: 150px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 150px;
  font-family: 'Eczar', serif;
  background-color: #f4fef4;
}

input, select, button {
  padding: 10px;
  margin: 10px;
  font-family: 'Eczar', serif;
  border-color: green;
}

.title, table {
  text-align: center;
  width: 800px;
  margin: 10px;
  padding: 10px;
  color: DarkGreen;
  font-family: 'Eczar', serif;
}

h2 {
  color: green;
  font-family: 'Eczar', serif;
}

button, input, select, option {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button:hover {
    background-color: DarkGreen;
    color: white;
}

input:hover {
  background-color: DarkGreen;
  color: white;
}

select:hover {
  background-color: DarkGreen;
  color: white;
}

option:hover {
  background-color: DarkGreen;
  color: white;
}